*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #C2EFD4;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.nav_head{
    display: flex;
    list-style: none;
}

.nav_head>li{
    margin: 0px 15px;
    font-weight: bold;
}

.btn{
    border: 2px solid black;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #C2EFD4;
    font-weight: bold;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 5%;
    gap: 30px;
    background-color: #C2EFD4;
}

.head_contents{
    font-size: 28px;
    margin: 10px 0px;
    color: #267D49;
}

.head_contents>p{
    padding: 10px;
}

.btn2{
    border: 1px solid black;
    padding: 8px 15px;
    cursor: pointer;
    background-color:#224F34;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

/*  */

.sections{
    padding: 10px;
    text-align: center;
    background-color:white;
}

.sections>h2{
    font-size: 28px;
    color: #267D49;
    margin-bottom: 20px;
}

.sections>p{
    color: #267D49;
}

.section_images{
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 40px;
}

.img1{
   margin-top: 50px;
}

.img1>p{
    font-size: 20px;
    padding: 20px;
}

.pp{
    font-size: 10px;
}

.btn3{
    border: 1px solid black;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 35px;
    border: 1px solid #267D49;
}

/*  */

.section2{
    padding: 50px 5%;
    text-align: center;
    background-color:white;
}

.section2>h1{
    font-size: 30px;
    color: #224F34;
    font-weight: bold;
}

.section2_heading{
    display: flex;
    padding: 50px 5%;
    justify-content: center;
    background-color:white;
    gap: 70px;
}

.section_images2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
}

/*  */

.section_images3{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
}

.img3{
   margin-top: 30px;
}

.section_1{
    height: 300px;
    width: 70%;
    background-color:#C2EFD4;
    display: flex;
    margin-left: 200px;
    gap: 100px;
}

.section_1_heading{
    padding: 30px;
    
}

.section_1_heading>h1{
    font-size: 40px;
}

.section_1_heading>p{
    padding-top: 30px;
}

.box_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  
}

.box{
    height: 50px;
    width: 60px;
    background-color:white;
    text-align: center;
    padding: 10px;
}

.btn4{
    border: 1px solid black;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    color: white;
   background-color: #267D49;
}

/*  */

.section_2{
    padding: 50px 5%;
    text-align: center;
    background-color:white;
}

.section_2>h1{
   font-size: 30px;
   color:#267D49;
}

.section_2>p{
    color:#267D49;
 }

 .section_2Details{
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 50px;
    flex-direction: row;
 }

 /*  */

 .feedback_section{
    padding: 50px 5%;
    text-align: center;
    background-color:white;
 }

 .feedback_section>h1{
    font-size: 35px;
    color: #224F34;
 }

 .f_section_child{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
 }

 .f_section_child{
    text-align: start;
 }

 .feed_b:hover{
    border: 1px solid blue;
 }


 #feed{
    background-color: #C2EFD4;
 }

 .feed_b>h3{
 color: #224F34;
 margin-top: 40px;
 margin-bottom: 20px;

 }

 /*  */
  

 .footer_parent{
    background-color: #224F34;
 }


 .footer_p{
    padding: 40px;
    display: flex;
    justify-content: space-between; 
    /* flex-direction: column; */
 }

 .f-1{
   margin-bottom: 10px;
   color: white;
 }

 .f_2{
    margin-bottom: 10px;
    color: white;
 }

 .f_3{
    margin-bottom: 10px;
    color: white;
 }

 input{
    height: 30px;
    border: 2px solid #C2EFD4;
    background-color: #224F34;
 }

 .btn5{
    height: 30px;
    width: 50px;
    background-color: #C2EFD4;
    border: none;
 }

 .fa-brands{
    color: white;
    padding: 5px;
 }

 .final{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center; 
    gap: 20px;
    flex-direction: row;
    
 }

 .final_details{
    border-top:   2px solid gray;
    width: 50%;  
    margin-top: 10px;
    gap: 10px;
    padding: 15px;
 }

 .f_p{
    color: white;
    text-align: center;
 }

 /* @media(min-width:600px ){

    .section_images{
        flex-direction: row;
    }

    .section_images2{
        flex-direction: row;
    }

    .section_images3{
        flex-direction: row;
    }

    .section_1{
        flex-direction: row;
    }

    .section_2Details{
        flex-direction:row;
        gap: 50px;
    }

    .f_section_child{
        flex-direction: row;
        gap: 30px;
    }

    .footer_p{
        flex-direction: row;
    }

    .final{
        flex-direction: row;
    }
} */

@media screen and (min-width: 600px) and (max-width: 1024px){

    .section_images{
        flex-direction: column;
    }

    .section_images2{
        flex-direction: column;
    }

    .section_images3{
        flex-direction: column;
    }

    .section_1{
        flex-direction: row;
    }

    .section_2Details{
        flex-direction:column;
        gap: 50px;
    }

    .f_section_child{
        flex-direction: row;
        gap: 30px;
    }

    .footer_p{
        flex-direction: row;
    }

    .final{
        flex-direction: row;
    }
}

 



 
 



 


 

 







